@model IEnumerable<DiplomsClassLibrary.Models.Diplom>


<h1>ДИПЛОМЫ</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <td><p />Автор</td>
            <td><p />Тема работы</td>
            <td><p />Направление</td>
            <td><p />Год публикации</td>
            <td><p />Степень работы</td>
            <td><p />Руководитель</td>
            <td>Измененить</td>
        </tr>
    </thead>

    <tbody>
        @if (Model != null) foreach (var diplom in Model)
            {
                <tr>

                    <td style="user-select:none; text-align:left; min-width:150px">
                        @(diplom.Author.ShortFIO)
                    </td>
                    <td style="user-select:none; text-align:left; min-width:300px;">
                        <textarea style="width:100%" disabled rows="3">@diplom.Title</textarea>
                    </td>
                    <td style="user-select:none; text-align:left; min-width:150px">
                        @diplom.Direction.Name
                    </td>
                    <td style="user-select:none; text-align:left; min-width:150px">
                        @diplom.Release.ToShortDateString()
                    </td>
                    <td style="user-select:none; text-align:left; min-width:150px">
                        @diplom.AcademicDegree.ToString()
                    </td>
                    <td style="user-select:none; text-align:left; min-width:150px">
                        @diplom.HeadName
                    </td>
                    <td style="user-select:none; text-align:left; min-width:100px; text-align:center">
                        <div>
                            @if (ViewBag.AuthorsExists)
                            {
                                <a class="commit-button" asp-controller="Diplom" asp-action="Edit" asp-route-id="@diplom.Id">Изменить</a>
                            }
                            else
                            {
                                <a class="commit-button" onclick="CheckAuthorsExists()">Изменить</a>
                            }
                        </div>
                    </td>
                </tr>
            }
    </tbody>
</table>
@if (ViewBag.AuthorsExists)
{
    <a class="commit-button" asp-controller="Diplom" asp-action="Add">Добавить</a>
}
else
{
    <a class="commit-button" onclick="CheckAuthorsExists()">Добавить</a>
}

<div class="modal" tabindex="-1" id="authorsExistsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Невозможно добавить/изменить диплом так как таблица авторов пуста</h4>
            </div>
        </div>
    </div>
</div>




<script>

    function CheckAuthorsExists() {
        $('#authorsExistsModal').modal('show');
    }

</script>