@model IEnumerable<DiplomsClassLibrary.Models.Author>
@{
    ViewData["Title"] = "AuthorGet";
}

<h1>АВТОРЫ</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <td><p />Фамилия</td>
            <td><p />Имя</td>
            <td><p />Отчество</td>
            <td><p />Должность</td>
            <td><p />Ученая степень</td>
            <td>Измененить</td>
        </tr>

    </thead>
    <tbody>
        @if (Model != null) foreach (var p in Model)
            {
                <tr>

                    <td style="user-select:none; text-align:left; min-width:150px">
                        @p.FirstName
                    </td>
                    <td style="user-select:none; text-align:left; min-width:150px">
                        @p.SecondName
                    </td>
                    <td style="user-select:none; text-align:left; min-width:150px">
                        @p.ThirdName
                    </td>

                    <td style="user-select:none; text-align:left; min-width:160px">
                        @p.Position.Name
                    </td>
                    <td style="user-select:none; text-align:left; min-width:160px">
                        @p.AcademicDegree.ToString()
                    </td>
                    <td style="user-select:none; text-align:left; min-width:100px; text-align:center">
                        <div>
                            @if (ViewBag.PositionsExists)
                            {
                                <a class="commit-button" asp-controller="Author" asp-action="Edit" asp-route-id="@p.Id">Изменить</a>
                            }
                            else
                            {
                                <a class="commit-button" onclick="CheckPositionsExists()">Изменить</a>
                            }
                        </div>
                    </td>
                </tr>
            }
    </tbody>
</table>
@if (ViewBag.PositionsExists)
{
    <a class="commit-button" asp-controller="Author" asp-action="Add">Добавить</a>
}
else
{
    <a class="commit-button" onclick="CheckPositionsExists()">Добавить</a>
}


<div class="modal" tabindex="-1" id="positionsExistsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Невозможно добавить/изменить автора так как таблица должностей пуста</h4>
            </div>
        </div>
    </div>
</div>




<script>

    function CheckPositionsExists() {
        $('#positionsExistsModal').modal('show');
    }

</script>